.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 2px solid transparent;
    padding: 1rem 2rem;
    @include makeRem(15);
    line-height: 1.5;
    background-color: $main;
    color: $main--dark;
    transition: background-color 0.2s;
    cursor: pointer;
    &:hover, &:focus, &:active {
        color: $main--dark;
    }
    &--main {
        background-color: $main;
        color: #fff;
        &:hover, &:focus, &:active {
            color: #fff;
            background-color: darken($main, 10%);
        }
    }
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

