body {
    font-size: $baseSize+px;
    font-family: $font--main;
    color: $text;
    line-height: 140%;
    &.js-blockScrolling {
        height: 100vh;
        overflow: hidden;
    }
}

.page-limiter{
    display: flex;
    max-width: 100vw;
    overflow: hidden;
    @include media-breakpoint-down(md) {
        flex-direction: column;
    }
}

// responsive images
img {
    max-width: 100%;
    height: auto;
}
// links 
a {
    color: $aux-darker;
    text-decoration: none;
    @include makeRem(15);
    @include animate;
    &:hover, &:focus, &:active {
        color: $main--light;
        @include animate;
        text-decoration: none;
    }
}
// whitespace
.clearspace {
    clear: both;
    &LG {
        height: $whitespace*2;
    }
    &SM {
        height: $whitespace;
    }
}

//text alignements
$alignments : left, center, right;
@each $align in $alignments {
    .text--#{$align} {
        text-align: $align;
    }
}

// headings
@for $i from 1 through 6 {
    h#{$i} {
        margin: 0;padding: 0;
    }
}

h1{
    @include makeRem(70);
}
span{
    @include makeRem(17);
}
p{
    @include makeRem(12);
}

//elements height
.bigger-block{
    height: 60%;
    will-change: height;
    transition: height .6s;
    &.opposite{
        @include media-breakpoint-up(sm) {
            height: 40%;
        }
    }
}
.smaller-block{
    height: 40%;
    will-change: height;
    transition: height .6s;
    &.opposite{
        @include media-breakpoint-up(sm) {
            height: 60%;
            .small-block {
                p {
                    transition: font-size .6s ease-in-out;
                    font-size: .9rem;
                }
            }
        }
    }
}
.small-block{
    width: 50%;
    height: 100%;
    @include media-breakpoint-up(sm) {

    }
}
.block-padding{
    padding-left: 50px;
}

//colors
.dark{
    background-color: $main--dark;
    color: $main--light;
}
.light{
    background-color: $main--light;
    color: $main--dark;
}

//specific
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
